/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    /*最小页面宽度，以防止页面过窄导致结构换行垮掉*/
    min-width: 1366px;
}

.el-card {
    margin-top: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 13px;
}

.el-pagination {
    /*距离上边距 15px*/
    margin-top: 15px;
    /*设置为居中分布*/
    text-align: center;
}

.zk-table{
    /*距离上边距 15px*/
    margin-top: 15px;
}
